body{
  font-family: 'Poppins', sans-serif;
}

form {
    font-size: 13pt;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 40%;
    padding: 14px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 28px;
  }
  
  /* Set a style for all buttons */
  button {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 40%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: .8;
  }

  #main{
    background-image: linear-gradient(to bottom right, #c76b6b , rgb(245, 245, 245) ); 
    padding-top: 1px;
    padding-bottom: 500px;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.logo, .logoSU {
    width: 9%;
    opacity: .7;
  } 

  #navbar{
  background-color: rgb(255, 255, 255);
  font: black;
  margin-bottom: 1%;
  background-color: white;
  display: inline-block;
  position: relative;
  font-size: 14pt;
  padding-top: 10pt;
  padding-bottom: 4pt;
  }

.logo-nav{
    float: left; 
    position: relative;
    width: 4%;
    padding: 7pt;
    opacity: .7;
}

  .logoSU{
    padding-top: 50px;
  }
  
  .loginBack{
    background-image: url("./images/login_back.png");
    min-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 950px;
    position: relative; 
    margin-top:  50px;
    padding-top: 25px;
    padding-bottom: 25px;
  } 

  .loginBackSignUp{
  background-image: url("./images/login_back.png");
  min-height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;  
  background-size: 950px 1200px;
  }
            
  /* Add padding to containers */
  .form-container, .sign-up-form {
    text-align: center;
    padding-bottom: 60px;
  }

  #notMember{
    margin-top: 30px;
  }

  .sign-up-form{
    position: relative; 
    font: black;
    padding-bottom: 25px; 
  }

  #loginButton {
    color: white;
    background-color: rgb(76, 160, 38) ;
    margin-top: 15px;
    border-radius: 25px;
  }

  #signupButton {
    color: white;
    background-color: #fa9494 ;
    border-radius: 28px;
    margin-top: 20px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }}

  #homepage{
    background-image: url("./images/home-back.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }

  .feed {
    background-color: #3b816c;
    border: none;
    height: 90px;
    width: 90px;
    color: white;
    border-radius: 10%;
    text-align: center;
    font-size: 14pt;
    text-decoration: none;
    cursor: pointer;
    margin-left: 30%;
    margin-right: 3%;
    box-shadow:  0px 5px 5px #2d6151;
  }

  .sleep{
    background-color: #1982C4;
    border: none;
    height: 90px;
    width: 90px;
    color: white;
    border-radius: 10%;
    font-size: 14pt;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin-right: 3%;
    box-shadow:  0px 5px 5px #155781;
  }

  .diaper{
    background-color: #cc9809;
    border: none;
    height: 90px;
    width: 90px;
    color: white;
    border-radius: 10%;
    font-size: 14pt;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin-right: 3%;
    box-shadow:  0px 5px 5px #806009;
  }

  .pump{
    background-color: #B24C63;
    border: none;
    height: 90px;
    width: 90px;
    color: white;
    border-radius: 10%;
    text-align: center;
    font-size: 14pt;
    text-decoration: none;
    cursor: pointer;
    margin-right: 3%;
    box-shadow: 0px 5px 5px #703643;
  }

  .extra{
    background-color: #6A4C93;
    border: none;
    height: 90px;
    width: 90px;
    color: white;
    border-radius: 10%;
    font-size: 14pt;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin-right: 25%;
    box-shadow: 0px 5px 5px #493566;
  }
  